/* Importing Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');



.p2-card-wrapper{
    /* max-width: 1300px; */
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}


.p2-card-list .p2-card-item {
    list-style: none;

}

.p2-card-list .p2-card-item .p2-card-link {
    user-select: none;
    display: block;
    /* background: #fff; */
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.02s ease;
}

.p2-card-list .p2-card-item .p2-card-link:active {
    cursor: grabbing;
}

.p2-card-list .p2-card-item .p2-card-link {
    transition: all 0.3s ease;
}

.p2-card-list .p2-card-item .p2-card-link:hover {
    border-color: #5372F0;
    transform: scale(1.03);
}


.p2-card-list .p2-card-item .p2-card-link:active {
    transform: scale(1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}


.p2-card-list .p2-card-link .p2-card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.p2-card-list .p2-card-link .p2-badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background-color: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.p2-card-list .p2-card-link .p2-badge.designer {
    color: #B22485;
    background: #F7DFF5;
}
.p2-card-list .p2-card-link .p2-badge.marketer {
    color: #B25A2B;
    background: #FFE3D2;
}
.p2-card-list .p2-card-link .p2-badge.gamer {
    color: #205C20;
    background: #D6F8D6;
}
.p2-card-list .p2-card-link .p2-badge.editor {
    color: #856404;
    background: #fff3cd;
}


.p2-card-list .p2-card-link .p2-card-title {
    font-size: -1.19rem;
    color: #2A2E75;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}



.p2-card-list .p2-card-link:hover .p2-card-button {
    color: #fff;
    background: #2A2E75;
}

.active-link {
    color: #FDC70B;
    font-weight: bold;
}


textarea {
    resize: vertical;
  }

  input,
  textarea {
    background-color: transparent;
    border: 1px solid #FBC80B;
    color: white;
    caret-color: #FBC80B;
    border-radius: 0;
  }

  label {
    color: white;
  }

  input::placeholder,
  textarea::placeholder {
    color: gray;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #FBC80B !important;
  }

  .dropdown-container::after {
    content: "▼";
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #2A2E75;
    pointer-events: none;
  }
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-left 20s linear infinite;
}

.marquee-content-right {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-right 20s linear infinite;
}

.marquee-content:hover,
.marquee-content-right:hover {
    animation-play-state: paused;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.review-card {
    display: inline-block;
    white-space: normal;
    margin-right: 2rem;
    vertical-align: top;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .p2-card-wrapper {
        margin: 0 10px 25px;
    }

    .p2-card-wrapper .swiper-slide-button {
        display: none;
    }
}
